---
layout: now-ui-dashboard-pages
class: lock-page
folder: Pages
---

    <div class="full-page lock-page section-image" filter-color="black" data-image="../../assets/img/bg5.jpg">
    <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->

        <div class="content">
            <div class="container">
                <div class="col-md-4 ml-auto mr-auto">
                    {% include cards/content-cards/card-lock-nuk.html %}
                </div>
            </div>
        </div>

        {% include footer.html %}
    </div>
