---
layout: now-ui-dashboard-pages
class: login-page
folder: Pages
---

    <div class="full-page {{ page.class }} section-image" filter-color="black" data-image="../../assets/img/bg5.jpg">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="col-md-4 ml-auto mr-auto">
                    <form class="form" method="" action="">
                        {% include cards/content-cards/card-login-nuk.html %}
                    </form>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </div>
