---
layout: now-ui-dashboard-pages
class: pricing-page
folder: Pages
---

    <div class="full-page {{ page.class }} section-image" data-image="../../assets/img/bg5.jpg">

        <div class="content">
            <div class="container">
        		<div class="row">
        			<div class="col-md-6 ml-auto mr-auto text-center">
        				<h2 class="title">Pick the best plan for you</h2>
        				<h5 class="description">You have Free Unlimited Updates and Premium Support on each package.</h5>
        			</div>
        		</div>

                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        {% include cards/content-cards/pricing/card-pricing-nuk.html
                            cardCategory = "Bravo Pack"
                            cardBelowTitle = "10$"
                            cardIcon = "now-ui-icons media-1_button-power"
                            iconClasses = "icon-warning"
                            cardContentFirst = "Complete documentation"
                            cardContentSecond = "Working materials in Sketch"
                            cardClasses = "card-plain"
                            cardButton = "btn-round btn-neutral btn-warning"
                            cardButtonText = "Add to Cart"
                        %}
                    </div>

                    <div class="col-lg-3 col-md-6">
                        {% include cards/content-cards/pricing/card-pricing-nuk.html
                            cardCategory = "Alpha Pack"
                            cardBelowTitle = "69$"
                            cardIcon = "now-ui-icons objects_diamond"
                            iconClasses = "icon-primary"
                            cardContentFirst = "Working materials in EPS"
                            cardContentSecond = "6 months access to the library"
                            cardButton = "btn-round btn-primary"
                            cardButtonText = "Add to Cart"
                        %}
                    </div>

                    <div class="col-lg-3 col-md-6">
                        {% include cards/content-cards/pricing/card-pricing-nuk.html
                            cardCategory = "Charlie Pack"
                            cardBelowTitle = "69$"
                            cardIcon = "now-ui-icons media-2_sound-wave"
                            iconClasses = "icon-success"
                            cardContentFirst = "Working materials in PSD"
                            cardContentSecond = "1 year access to the library"
                            cardButton = "btn-round btn-neutral btn-success"
                            cardClasses = "card-plain"
                            cardButtonText = "Add to Cart"
                        %}
                    </div>

                    <div class="col-lg-3 col-md-6">
                        {% include cards/content-cards/pricing/card-pricing-nuk.html
                            cardCategory = "Extra Pack"
                            cardBelowTitle = "159$"
                            cardIcon = "now-ui-icons education_atom"
                            iconClasses = "icon-danger"
                            cardContentFirst = "Complete documentation"
                            cardContentSecond = "2GB cloud storage"
                            cardButton = "btn-round btn-neutral btn-danger"
                            cardClasses = "card-plain"
                            cardButtonText = "Add to Cart"
                        %}
                    </div>

                </div>
        	</div>
        </div>
        {% include footer.html %}
    </div>
