---
layout: now-ui-dashboard-pages
class: register-page
folder: Pages
---

<div class="full-page {{ page.class }} section-image" filter-color="black" data-image="../../assets/img/bg5.jpg">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="info-area info-horizontal">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons media-2_sound-wave"></i>
                        </div>
                        <div class="description">
                            <h5 class="info-title">Marketing</h5>
                            <p class="description">
                                We've created the marketing campaign of the website. It was a very interesting collaboration.
                            </p>
                        </div>
                    </div>

                    <div class="info-area info-horizontal">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons media-1_button-pause"></i>
                        </div>
                        <div class="description">
                            <h5 class="info-title">Fully Coded in HTML5</h5>
                            <p class="description">
                                We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                            </p>
                        </div>
                    </div>

                    <div class="info-area info-horizontal">
                        <div class="icon icon-info">
                            <i class="now-ui-icons users_single-02"></i>
                        </div>
                        <div class="description">
                            <h5 class="info-title">Built Audience</h5>
                            <p class="description">
                                There is also a Fully Customizable CMS Admin Dashboard for this product.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mr-auto">
                    {% include cards/content-cards/card-register-nuk.html %}
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
</div>
