---
layout: now-ui-dashboard-layout
brand: Regular Forms
folder: forms
---

<div class="row">
    <div class="col-md-6">
        {% include cards/content-cards/regular-forms/card-stacked-form.html %}
    </div>

    <div class="col-md-6">
        {% include cards/content-cards/regular-forms/card-horizontal-form.html %}
    </div>

    <div class="col-md-12">
        {% include cards/content-cards/regular-forms/card-form-elements.html %}
    </div>

    <div class="col-md-12">
        {% include cards/content-cards/regular-forms/card-input-variants.html %}
    </div>
</div>
