<div class="card card-testimonial{{ cardClasses }}">
    {% if cardHeader %}
    <div class="card-header{{ headerClasses }}">
    {{ cardHeader }}
    </div>
    {% elsif cardIconTestimonial %}
        {{ cardIconTestimonial }}
    {% endif %}
    <div class="card-body">
    {% if cardAvatarSrcTop %}
        <div class="card-avatar">
            {{ cardAvatarSrcTop }}
        </div>
    {% elsif cardIcon %}
        {{ cardIcon }}
    {% endif %}
    {% if cardPtext %}
        {{ cardPtext }}
    {% elsif cardHtext %}
        {{ cardHtext }}
    {% endif %}
    </div>

    <div class="card-footer">
        <h4 class="card-title">Alec Thompson</h4>
        <h6 class="card-category">@alecthompson</h6>
        {% if cardStars %}
            {{ cardStars }}
        {% elsif cardAvatarFooter %}
            {{ cardAvatarFooter }}
        {% endif %}
    </div>

</div>
