<div class="sidebar" data-color="orange">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->

    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
            CT
        </a>

        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
            Creative Tim
        </a>
        <div class="navbar-minimize">
          <button id="minimizeSidebar" class="btn btn-neutral btn-icon">
              <i class="now-ui-icons arrows-1_minimal-left visible-on-sidebar-regular"></i>
              <i class="now-ui-icons arrows-1_minimal-right visible-on-sidebar-mini"></i>
          </button>
  	    </div>
    </div>

    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="{{ path-assets }}/assets/img/ryan.jpg" />
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                    <span>
                        Ryan Gosling
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="clearfix"></div>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li>
                            <a href="#">
                                <span class="sidebar-mini">MP</span>
                                <span class="sidebar-normal">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="sidebar-mini">EP</span>
                                <span class="sidebar-normal">Edit Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="sidebar-mini">S</span>
                                <span class="sidebar-normal">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">

            <li{% if page.brand == "Dashboard" %} class="active"{% endif %}>
                <a href="{{ path-pages }}/dashboard.html">
                    <i class="now-ui-icons design_app"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            {% if page.brand != 'Template' %}
            <li{% if page.folder == "Pages" %} class="active"{% endif %}>
                <a data-toggle="collapse" href="#pagesExamples"{% if page.folder == "Pages" %} aria-expanded="true"{% endif %}>
                    <i class="now-ui-icons design_image"></i>
                    <p>Pages
                       <b class="caret"></b>
                    </p>
                </a>

                <div class="collapse{% if page.folder == "Pages" %} show{% endif %}" id="pagesExamples">
                    <ul class="nav">
                        <li{% if page.class == "pricing-page" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/pages/pricing.html">
                                <span class="sidebar-mini">P</span>
                                <span class="sidebar-normal">Pricing</span>
                            </a>
                        </li>
                        <li{% if page.brand == "Timeline" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/pages/timeline.html">
                                <span class="sidebar-mini">T</span>
                                <span class="sidebar-normal">Timeline</span>
                            </a>
                        </li>
                        <li{% if page.class == "login-page" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/pages/login.html">
                                <span class="sidebar-mini">LP</span>
                                <span class="sidebar-normal">Login Page</span>
                            </a>
                        </li>
                        <li{% if page.class == "register-page" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/pages/register.html">
                                <span class="sidebar-mini">RP</span>
                                <span class="sidebar-normal">Register Page</span>
                            </a>
                        </li>
                        <li{% if page.class == "lock-page" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/pages/lock.html">
                                <span class="sidebar-mini">LSP</span>
                                <span class="sidebar-normal">Lock Screen Page</span>
                            </a>
                        </li>
                        <li{% if page.brand == "Profile" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/pages/user.html">
                                <span class="sidebar-mini">UP</span>
                                <span class="sidebar-normal">User Profile</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li{% if page.folder == "components" %} class="active"{% endif %}>
                <a data-toggle="collapse" href="#componentsExamples"{% if page.folder == "components" %} aria-expanded="true"{% endif %}>
                    <i class="now-ui-icons education_atom"></i>
                    <p>Components
                       <b class="caret"></b>
                    </p>
                </a>

                <div class="collapse{% if page.folder == "components"  %} show{% endif %}" id="componentsExamples">
                    <ul class="nav">
                        <li{% if page.brand == "Buttons" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/components/buttons.html">
                                <span class="sidebar-mini">B</span>
                                <span class="sidebar-normal">Buttons</span>
                            </a>
                        </li>
                        <li{% if page.brand == "Grid System" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/components/grid.html">
                                <span class="sidebar-mini">GS</span>
                                <span class="sidebar-normal">Grid System</span>
                            </a>
                        </li>
                        <li{% if page.brand == "Panels" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/components/panels.html">
                                <span class="sidebar-mini">P</span>
                                <span class="sidebar-normal">Panels</span>
                            </a>
                        </li>
                        <li{% if page.brand == "Sweet Alert" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/components/sweet-alert.html">
                                <span class="sidebar-mini">SA</span>
                                <span class="sidebar-normal">Sweet Alert</span>
                            </a>
                        </li>
                        <li{% if page.brand == "Notifications" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/components/notifications.html">
                                <span class="sidebar-mini">N</span>
                                <span class="sidebar-normal">Notifications</span>
                            </a>
                        </li>
                        <li{% if page.brand == "Icons" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/components/icons.html">
                                <span class="sidebar-mini">I</span>
                                <span class="sidebar-normal">Icons</span>
                            </a>
                        </li>
                        <li{% if page.brand == "Typography" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/components/typography.html">
                                <span class="sidebar-mini">T</span>
                                <span class="sidebar-normal">Typography</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li{% if page.folder == "forms" %} class="active"{% endif %}>
                <a data-toggle="collapse" href="#formsExamples"{% if page.folder == "forms" %} aria-expanded="true"{% endif %}>
                    <i class="now-ui-icons files_single-copy-04"></i>
                    <p>Forms
                       <b class="caret"></b>
                    </p>
                </a>

                <div class="collapse{% if page.folder == "forms" %} show{% endif %}" id="formsExamples">
                    <ul class="nav">
                        <li{% if page.brand == "Regular Forms" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/forms/regular.html">
                                <span class="sidebar-mini">RF</span>
                                <span class="sidebar-normal">Regular Forms</span>
                            </a>
                        </li>
                        <li{% if page.brand == "Extended Forms" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/forms/extended.html">
                                <span class="sidebar-mini">EF</span>
                                <span class="sidebar-normal">Extended Forms</span>
                            </a>
                        </li>
                        <li{% if page.brand == "Validation Forms" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/forms/validation.html">
                                <span class="sidebar-mini">VF</span>
                                <span class="sidebar-normal">Validation Forms</span>
                            </a>
                        </li>
                        <li{% if page.brand == "Wizard" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/forms/wizard.html">
                                <span class="sidebar-mini">W</span>
                                <span class="sidebar-normal">Wizard</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li{% if page.folder == "tables" %} class="active"{% endif %}>
                <a data-toggle="collapse" href="#tablesExamples"{% if page.folder == "tables" %} aria-expanded="true"{% endif %}>
                    <i class="now-ui-icons design_bullet-list-67"></i>
                    <p>Tables
                       <b class="caret"></b>
                    </p>
                </a>

                <div class="collapse{% if page.folder == "tables" %} show{% endif %}" id="tablesExamples">
                    <ul class="nav">
                        <li{% if page.brand == "Regular Tables" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/tables/regular.html">
                                <span class="sidebar-mini">RT</span>
                                <span class="sidebar-normal">Regular Tables</span>
                            </a>
                        </li>
                        <li{% if page.brand == "Extended Tables" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/tables/extended.html">
                                <span class="sidebar-mini">ET</span>
                                <span class="sidebar-normal">Extended Tables</span>
                            </a>
                        </li>
                        <li{% if page.brand == "DataTables.net" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/tables/datatables.net.html">
                                <span class="sidebar-mini">DT</span>
                                <span class="sidebar-normal">DataTables.net</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li{% if page.folder == "maps" %} class="active"{% endif %}>
                <a data-toggle="collapse" href="#mapsExamples"{% if page.folder == "maps" %} aria-expanded="true"{% endif %}>
                    <i class="now-ui-icons location_pin"></i>
                    <p>Maps
                       <b class="caret"></b>
                    </p>
                </a>

                <div class="collapse{% if page.folder == "maps" %} show{% endif %}" id="mapsExamples">
                    <ul class="nav">
                        <li{% if page.brand == "Google Maps" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/maps/google.html">
                                <span class="sidebar-mini">GM</span>
                                <span class="sidebar-normal">Google Maps</span>
                            </a>
                        </li>
                        <li{% if page.brand == "Full Screen Map" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/maps/fullscreen.html">
                                <span class="sidebar-mini">FSM</span>
                                <span class="sidebar-normal">Full Screen Map</span>
                            </a>
                        </li>
                        <li{% if page.brand == "Vector Map" %} class="active"{% endif %}>
                            <a href="{{ path-pages }}/maps/vector.html">
                                <span class="sidebar-mini">VM</span>
                                <span class="sidebar-normal">Vector Map</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li{% if page.brand == "Widgets" %} class="active"{% endif %}>
                <a href="{{ path-pages }}/widgets.html">
                    <i class="now-ui-icons objects_diamond"></i>
                    <p>Widgets</p>
                </a>
            </li>

            <li{% if page.brand == "Charts" %} class="active"{% endif %}>
                <a href="{{ path-pages }}/charts.html">
                    <i class="now-ui-icons business_chart-pie-36"></i>
                    <p>Charts</p>
                </a>
            </li>

            <li{% if page.brand == "Calendar" %} class="active"{% endif %}>
                <a href="{{ path-pages }}/calendar.html">
                    <i class="now-ui-icons media-1_album"></i>
                    <p>Calendar</p>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
