---
layout: now-ui-dashboard-layout
brand: Extended Tables
folder: tables
---

    <div class="row">
        <div class="col-md-12">
            {% include cards/content-cards/tables/card-tables.html
                tableTitle = " Simple Table"
                tableJson = site.data.table-extended
                colActions = "true"
                tableHeaderClasses = "text-primary"
            %}
        </div>

        <div class="col-md-12">
            {% include cards/content-cards/tables/card-tables.html
                tableTitle = " Striped Table with Checkboxes"
                tableJson = site.data.table-extended-checkboxes
                tableClasses = " table-striped"
                tableHeaderClasses = "text-primary"
                hasTotalRow = true
            %}
        </div>

        <div class="col-md-12">
            {% include cards/content-cards/tables/card-tables.html
                tableTitle = " Shopping Cart Table"
                tableJson = site.data.table-shopping-cart
                shoppingCardTable = true
                tableClasses = " table-shopping"
                hasTotalRow = true
            %}
        </div>
    </div>
