---
layout: now-ui-dashboard-layout
brand: Regular Tables
folder: tables
panel-header-size: panel-header-sm
---
    <div class="row">
        <div class="col-md-12">
            {% include cards/content-cards/tables/card-tables.html
                tableTitle = " Simple Table"
                tableJson = site.data.table-regular
                tableHeaderClasses = " text-primary"
            %}
        </div>

        <div class="col-md-12">
            {% include cards/content-cards/tables/card-tables.html
                cardClasses = " card-plain"
                tableTitle = " Table on Plain Background"
                tableSubTitle = " Here is a subtitle for this table"
                tableJson = site.data.table-regular
                tableHeaderClasses = " text-primary"
            %}
        </div>

        <div class="col-md-12">
            {% include cards/content-cards/tables/card-tables.html
                colorClasses = "true"
                bodyClasses = " table-full-width"
                tableTitle = " Regular Table with Colors"
                tableJson = site.data.table-regular
                tableHeaderClasses = " text-primary"
            %}
        </div>
    </div>
