---
layout: now-ui-dashboard-layout
brand: Dashboard
panel-header-size: panel-header-lg
---
<div class="row">
    <div class="col-md-12">
        <div class="card card-stats card-raised">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="statistics">
                            <div class="info">
                                <div class="icon icon-primary">
                                    <i class="now-ui-icons ui-2_chat-round"></i>
                                </div>
                                <h3 class="info-title">859</h3>
                                <h6 class="stats-title">Messages</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="statistics">
                            <div class="info">
                                <div class="icon icon-success">
                                    <i class="now-ui-icons business_money-coins"></i>
                                </div>
                                <h3 class="info-title"><small>$</small>3,521</h3>
                                <h6 class="stats-title">Today Revenue</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="statistics">
                            <div class="info">
                                <div class="icon icon-info">
                                    <i class="now-ui-icons users_single-02"></i>
                                </div>
                                <h3 class="info-title">562</h3>
                                <h6 class="stats-title">Customers</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="statistics">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="now-ui-icons objects_support-17"></i>
                                </div>
                                <h3 class="info-title">353</h3>
                                <h6 class="stats-title">Support Requests</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Website Views</h5>
            <h2 class="card-title">34,252</h2>
            <div class="dropdown">
	            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
	            		<i class="now-ui-icons design_bullet-list-67"></i>
	            </button>
            	<div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item text-danger" href="#">Remove Data</a>
            	</div>
			      </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="activeUsers"></canvas>
            </div>
          </div>
          <div class="card-footer">
            <div class="stats">
                  <i class="fa fa-dashboard"></i> Just Updated
              </div>
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card card-chart">
          <div class="card-body">
            <div class="info-area">
                <div class="description">
                    <h5 class="card-category">Live Users</h5>
                    <h2 class="card-title">352</h2>
                </div>
            </div>
            <div class="chart-area">
              <canvas id="websiteViews"></canvas>
            </div>
          </div>
          <div class="card-footer">
            <div class="stats">
                  <i class="fa fa-dashboard"></i> Just Updated
              </div>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-chart">
          <div class="card-body">
            <div class="info-area">
                <div class="description">
                    <h5 class="card-category">New Orders</h5>
                    <h2 class="card-title">252</h2>
                </div>
            </div>
            <canvas id="chartSupportRequests"></canvas>
          </div>
      </div>
    </div>
</div>

<div class="row">

  <div class="col-md-12">
		<div class="card">
			<div class="card-header card-header-icon" data-background-color="green">
				<i class="material-icons">language</i>
			</div>
			<div class="card-content">
				<h4 class="card-title">Global Sales by Top Locations</h4>
				<div class="row">
					<div class="col-md-5">
						<div class="table-responsive table-sales">
              <table class="table">
                  <tbody>
                      <tr>
                          <td>
                              <div class="flag">
                                  <img src="../assets/img/flags/US.png">
                          </div></td>
                          <td>USA</td>
                          <td class="text-right">
                              2.920
                          </td>
                          <td class="text-right">
                              53.23%
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="flag">
                                  <img src="../assets/img/flags/DE.png">
                          </div></td>
                          <td>Germany</td>
                          <td class="text-right">
                              1.300
                          </td>
                          <td class="text-right">
                              20.43%
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="flag">
                                  <img src="../assets/img/flags/AU.png">
                          </div></td>
                          <td>Australia</td>
                          <td class="text-right">
                              760
                          </td>
                          <td class="text-right">
                              10.35%
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="flag">
                                  <img src="../assets/img/flags/GB.png">
                          </div></td>
                          <td>United Kingdom</td>
                          <td class="text-right">
                              690
                          </td>
                          <td class="text-right">
                              7.87%
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="flag">
                                  <img src="../assets/img/flags/RO.png">
                          </div></td>
                          <td>Romania</td>
                          <td class="text-right">
                              600
                          </td>
                          <td class="text-right">
                              5.94%
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="flag">
                                  <img src="../assets/img/flags/BR.png">
                          </div></td>
                          <td>Brasil</td>
                          <td class="text-right">
                              550
                          </td>
                          <td class="text-right">
                              4.34%
                          </td>
                      </tr>
                  </tbody>
              </table>
            </div>
					</div>
					<div class="col-md-6 col-md-offset-1">
						<div id="worldMap" class="map"></div>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>

<div class="row">

    <div class="col-md-6">
        <!-- {% include cards/content-cards/chart/card-chart-behavior.html chartId="chartHours" %} -->
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <!-- {% include cards/content-cards/chart/card-chart-sales.html chartId="chartActivity" %} -->
    </div>

    <div class="col-md-6">
        <!-- {% include cards/content-cards/chart/card-chart-tasks.html %} -->
    </div>
</div>
