---
layout: now-ui-dashboard-layout
brand: Widgets
panel-header-size: panel-header-sm
---

<div class="row">
  <div class="col-lg-3 col-sm-6">
    {% include cards/content-cards/nud-widgets/card-stats.html
      cardCircleColor = "icon-primary"
      cardIconCircle = "ui-2_chat-round"
      cardInfoTitle = "1058"
      cardStatsTitle = "messages"
      cardIconFooter = "arrows-1_refresh-69"
      cardFooterText = "Update now"
    %}
  </div>
  <div class="col-lg-3 col-sm-6">
    {% include cards/content-cards/nud-widgets/card-stats.html
      cardCircleColor = "icon-warning"
      cardIconCircle = "business_bank"
      cardInfoTitle = "<span>$</span>23,685"
      cardStatsTitle = "Deposit"
      cardIconFooter = "ui-1_calendar-60"
      cardFooterText = "Last week"
    %}
  </div>
  <div class="col-lg-3 col-sm-6">
    {% include cards/content-cards/nud-widgets/card-stats.html
      cardCircleColor = "icon-danger"
      cardIconCircle = "sport_user-run"
      cardInfoTitle = "364"
      cardStatsTitle = "Players"
      cardIconFooter = "ui-2_time-alarm"
      cardFooterText = "In the last hour"
    %}
  </div>
  <div class="col-lg-3 col-sm-6">
    {% include cards/content-cards/nud-widgets/card-stats.html
      cardCircleColor = "icon-info"
      cardIconCircle = "ui-2_favourite-28"
      cardInfoTitle = "+83K"
      cardStatsTitle = "followers"
      cardIconFooter = "arrows-1_refresh-69"
      cardFooterText = "Update now"
    %}
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12 text-center">
    {% include cards/content-cards/nud-widgets/card-contributions.html
      cardTitleText = "3,521"
      cardSubtitleText = "Total Public Contributions"
    %}
    <div class="row">
      <div class="col-lg-6">
        {% include cards/content-cards/pricing/card-pricing-nuk.html
            cardCategory = "Alpha Pack"
            cardBelowTitle = "69$"
            cardIcon = "now-ui-icons objects_diamond"
            iconClasses = "icon-primary"
            cardContentFirst = "Working materials in EPS"
            cardContentSecond = "6 months access to the library"
            cardButton = "btn-round btn-primary"
            cardButtonText = "Add to Cart"
        %}
      </div>

      <div class="col-lg-6">
        {% include cards/content-cards/pricing/card-pricing-nuk.html
            cardCategory = "Bravo Pack"
            cardBelowTitle = "10$"
            cardIcon = "now-ui-icons media-1_button-power"
            iconClasses = "icon-warning"
            cardContentFirst = "Complete documentation"
            cardContentSecond = "Working materials in Sketch"
            cardClasses = "card-plain"
            cardButton = "btn-round btn-neutral btn-warning"
            cardButtonText = "Add to Cart"
        %}
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card card-timeline card-plain">
      <div class="card-body">
        {% include cards/content-cards/nud-widgets/card-timeline.html %}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% include cards/content-cards/chart/card-chart-tasks.html %}
  </div>
</div>
