<!DOCTYPE html>
<html lang="en">
    <head>{% include path/path-assets.html %}

    {% include head.html %}

    </head>

    <body class="sidebar-mini">
        <div class="wrapper">
            {% include sidebar.html %}

            <div class="main-panel">
                {% include navbar.html %}

                {% if page.brand == "Full Screen Map" %}
                    {{ content }}
                {% else %}

                    <div class="panel-header">
                        <!-- <div id="frappeChartPreferences"></div> -->
                        <canvas id="myChart"></canvas>
                    </div>

                    <div class="content">

                        <div class="container-fluid">
                            {{ content }}
                        </div>
                    </div>

                    {% include footer.html %}
                 {% endif %}
            </div>
        </div>
    </body>

    {% include js/script.html %}

</html>
