---
layout: now-ui-dashboard-layout
brand: Google Maps
folder: maps
---

    <div class="row">
        <div class="col-md-12">
            {% include cards/content-cards/maps/google.html
                cardMapID = "satelliteMap"
                cardMapClasses = "map map-big"
            %}
        </div>
        <div class="col-md-6">
            {% include cards/content-cards/maps/google.html
                cardMapID = "regularMap"
                cardMapClasses = "map"
                cardHeaderTitle = "<h4 class='card-title'>Regular Map</h4>"
            %}
        </div>
        <div class="col-md-6">
            {% include cards/content-cards/maps/google.html
                cardMapID = "customSkinMap"
                cardMapClasses = "map"
                cardHeaderTitle = "<h4 class='card-title'>Custom Skin & Settings Map</h4>"
            %}
        </div>
    </div>
